[Unit]
Description=Executando aplicativo MES
After=network.target

[Service]
ExecStart=/home/pi/TRI/start.sh
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target

