[Unit]
Description=Executando aplicativo MES
After=network.target

[Service]
ExecStart=/home/tri/TRI/start.sh
WorkingDirectory=/home/tri
StandardOutput=inherit
StandardError=inherit
Restart=always
User=tri
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target

