[Unit]
Description=Executando servico de importacao de listas de Corte Automatizado
After=network.target

[Service]
ExecStart=/home/tri/TRI/importaLista.sh
WorkingDirectory=/home/tri
StandardOutput=inherit
StandardError=inherit
Restart=always
User=tri

[Install]
WantedBy=multi-user.target

